<link rel="stylesheet" href="/css/user_sign_up.css">
<script src="https://kit.fontawesome.com/0c13de2b67.js" crossorigin="anonymous"></script>
<h1>Sign Up</h1>
<form action="/users/create" method="POST">

    <div id="container">
        <input class="fontAwesome" type="text" name="name" placeholder="&#xf007; Name" required>
        <input class="fontAwesome" type="email" name="email" placeholder="&#xf0e0; Email" required>
        <input class="fontAwesome" type="password" name="password" placeholder="&#xf023; Password" required>
        <input class="fontAwesome" type="password" name="confirmpassword" placeholder="&#xf023; Confirm Password"
            required>
        <input type="submit" value="Sign Up">
    </div>

</form>

<button><a href="/users/auth/google"><i class="fab fa-google"></i></a></button>