.post-container
{
    
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    border: royalblue 1px solid;
    margin-bottom: 20px;

}


.post-name
{
    color: black;
    text-align: start;
    margin-top: 5px;
    
}
.comment-name
{
    margin-top: 15px;
    color: black;
    text-align: start;
    
}



.small-margin
{
    margin-left: 5px;
}
.medium-margin
{
    text-align: start;
    margin-left: 25px;
}

.btn-blue
{
    background-color: #376db3;
    color: white;
}

.comment-content
{
    text-align: start;
    margin-left: 25px;
}

#post-comment
{
    margin-top: 5px;
}

.comment-container
{
    display: none;
    
    
}

.comments
{
    
    text-decoration: none;
    color: black;
    margin-left: 25px;
    

}
#like
{
    margin-left: -100px;
    text-decoration: none;
    color: black;
}

#share
{
    text-decoration: none;
    color: black;
    margin-left: 25px;

  
}

.show
{
    display: block;
    margin-top: 0px;   
}


#delete
{
    text-decoration: none;
    color: black;
    margin-left: 25px;
   
}


#main-container{
    display: flex;
    margin-bottom: 0px;

    #users-list{
        width: 30%;
        border-left: 1px solid black;
        .user-list-inside-box{
          
            display: flex;
            flex-direction: column;           
            text-align: start;
            padding-left: 30%;
            grid-row-gap: 10px;
            :link
            {
              
              text-decoration: none;
            }
        }
        
    }

    #post-feed{
        width: 70%;
        padding: 10px;
    }

}

