.fontAwesome {
  font-family: Helvetica, 'FontAwesome', sans-serif; }

#UpdateForm {
  display: flex;
  flex-flow: column;
  align-items: center;
  grid-row-gap: 10px; }

.btn-blue {
  background-color: #376db3;
  color: white; }
